<div class="recipe1">
    <button class="deleteButton" type="button" id="delete-btn">x</button>
    <div hidden id="recipeid">{{_id}}</div>
    <div id="info1" class="info1">
        <div id="food-pic1">
            <img src="/images/{{recipe.image}}" class="icon1">
        </div>
        <div id="food-info1">
            <p id="recipename1" class="recipename1"> recipe name: {{recipe.recipename}} </p>
            <p id="owner1" class="owner1"> owner: {{recipe.owner}} </p>
            <p id="minutes1" class="minutes1"> minutes: {{recipe.minutes}} </p>
            <p id="seconds1" class="seconds1"> seconds: {{recipe.seconds}} </p>
            <p id="ingredientname1"> ingredients:</p>
            <div id="ingredient-info1">
                <div id="ingredient1">
                    {{#each recipe.ingredients}}
                        <p id="ingredient-name1" class="ingredient-name1"> {{ this.item }} : {{ this.amount }}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>