<div id="container">
    <div id="sidebarContent">
        {{>sidebar}}
    </div>
    <div id="content">
        <div id="addRecipeInfo-container">
            <div class="addRecipeForm">

                <div>
                    <p class="addRecipeStyle" for="recipeImage" id="recipeImage">Recipe Image:</p>
                    <div class="addRecipeInput" id="inputImage" placeholder="Add recipe image" name="recipe_image"></div>
                </div>
                <div>
                    <p class="addRecipeStyle" for="recipeName" id="recipeName">Recipe Name: {{view.username}}</p>
                    <p class="addRecipeInput" id="inputName" placeholder="Add recipe name"
                        name="recipe_name">{{recipename}}</p>
                    <p class="addRecipeStyle" for="owner" id="owner">Owner: {{view.owner}}</p>
                    <p class="addRecipeInput" id="inputOwner" placeholder="Add owner name"
                        name="owner_name"></p>
                </div>

                <div>
                    <p class="addRecipeStyle" for="cookingTime" id="cookingTime">Cooking Time:</p>
                    <p class="addRecipeInput" id="inputMins" placeholder="min" name="recipe_minutes">{{view.minutes}}</p>

                    <p class="colon" for="colon" id="colon">:</p>
                    <p class="addRecipeInput" id="inputSecs" placeholder="sec" name="recipe_seconds">{{view.seconds}}</p>
                </div>

                <div id="1">
                    {{#each view.ingredients}}
                    <p class="addRecipeStyle" for="ingredients" id="ingredients">Ingredients:</p>
                    <p class="addIngredientInput" id="inputIngredient" placeholder="Name"
                        name="recipe_name">{{this}}</p>
                    {{/each}}
                    {{#each view.amount}}
                    <p class="addIngredientInput" id="inputAmount" placeholder="Amount"
                        name="recipe_name">{{this}}</p>
                    {{/each}}
                </div>

                <div>
                    <p class="addRecipeStyle" for="directions" id="directions">Directions:</p>

                    <textarea cols="80" rows="10" id="inputDirections" type="text" name="recipe_directions"
                        placeholder="Add text..." readonly></textarea>

                </div>
            </div>
        </div>
    </div>
</div>