<div id="container">
    <div id="sidebarContent">
        {{>sidebar}}
    </div>
    <div id="content">
        <div id="viewRecipeInfo-container">
            <div class="viewRecipeBox">
                <div>
                    <p class="viewRecipeStyle" for="recipeImage" id="viewRecipeImage">Recipe Image: {{view.image}}</p>
                    <div class="addRecipeInput" id="inputImage" placeholder="Add recipe image" name="recipe_image"></div>
                </div>
                <div>
                    <!-- <p class="viewRecipeStyle" for="recipeName" id="viewRecipeName">Recipe Name: {{view.username}}</p> -->
                    <p class="viewRecipeStyle" for="recipeName" id="viewRecipeName">Recipe Name: {{view.recipename}}</p>
                    <p class="viewRecipeStyle" for="owner" id="viewOwner">Owner: {{view.owner}}</p>
                </div>

                <div>
                    <p class="viewRecipeStyle" for="cookingTime" id="viewCookingTime">Cooking Time: {{view.minutes}} : {{view.seconds}}</p>
                </div>

                <div id="1">
                    <p class="viewRecipeStyle" for="ingredients" id="ingredients">Ingredients:</p>
                    {{#each view.ingredients}}
                    <p class="viewIngredients" id="viewIngredients"  name="ingredients">{{this.item}} : {{this.amount}}</p>
                    {{/each}}
                </div>

                <div>
                    <p class="viewRecipeStyle" for="directions" id="directions">Directions:</p>

                    <textarea cols="80" rows="10" id="inputDirections" type="text" name="recipe_directions"
                        placeholder="Add text..." readonly></textarea>

                </div>
            </div>
        </div>
    </div>
</div>